{% extends "base.html" %}

{% block title %}New Authentication Key{% endblock %}

{% block content %}
  <div class="row">
    <div class="col">
      <h2>New Authentication Key</h2>
      <form method="post" id="credential-form">{% csrf_token %}
        {{ form.as_p }}
      </form>
      <button type="button" class="btn btn-primary" id="create_btn">Create</button>
    </div>
  </div>

  <script id="credential_creation_options" type="application/json">{{ options|safe }}</script>

  {% load static %}
  <script src="{% static 'webauth/lib.js' %}"></script>
  <script>
    document.getElementById("create_btn").addEventListener("click", onCreateClicked);
  </script>
{% endblock %}
