{% extends "base.html" %}

{% block title %}Authentication Keys{% endblock %}

{% block content %}
  <div class="row">
    <div class="col">
      <h2>Authentication Keys</h2>
    </div>
    <div class="col-md-auto">
      <a class="btn btn-success" href="{% url 'key-add' %}">Add</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-hover align-middle">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Raw ID</th>
            <th scope="col">Sign Count</th>
            <th scope="col">Actions</th>
        </thead>
        <tbody>
          {% for key in object_list %}
          <tr>
            <td>{{ key.name }}</td>
            <td>{{ key.raw_id }}</td>
            <td>{{ key.sign_count }}</td>
            <td>
              <a class="btn btn-primary btn-sm" href="{% url 'key-detail' key.pk %}">View</a>
              <a class="btn btn-danger btn-sm" href="{% url 'key-delete' key.pk %}">Delete</a>
            </td>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
