{% extends "base.html" %}

{% block title %}Delete Authentication Key{% endblock %}

{% block content %}
  <div class="row">
    <div class="col">
      <h2>Delete Authentication Key</h2>
      <form method="post">{% csrf_token %}
        <p>Are you sure you want to delete Authentication Key <strong>{{ object.name }}</strong>?</p>
        <p>You will no longer be able to login using this key.</p>
        <button type="submit" class="btn btn-danger">Yes, delete</button>
        <button type="button" class="btn btn-light" id="back-btn">No, go back</button>
      </form>
    </div>
  </div>
  <script>
    function goBack() {
      window.history.back();
    }

    function onLoad() {
      document.getElementById("back-btn").addEventListener("click", goBack);
    }

    document.addEventListener("DOMContentLoaded", onLoad);
  </script>
{% endblock %}
