{% extends "base.html" %}

{% block title %}Authentication Key {{ object.name }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col">
      <h2>Authentication Key {{ object.name }}</h2>
    </div>
    <div class="col-md-auto">
      <a class="btn btn-danger" href="{% url 'key-delete' object.pk %}">Delete</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"><strong>name</strong></div>
    <div class="col">{{ object.name }}</div>
  </div>
  <div class="row">
    <div class="col-md-2"><strong>rp_id</strong></div>
    <div class="col">{{ object.rp_id }}</div>
  </div>
  <div class="row">
    <div class="col-md-2"><strong>origin</strong></div>
    <div class="col">{{ object.origin }}</div>
  </div>
  <div class="row">
    <div class="col-md-2"><strong>raw_id</strong></div>
    <div class="col">{{ object.raw_id }}</div>
  </div>
  <div class="row">
    <div class="col-md-2"><strong>credential_id</strong></div>
    <div class="col">{{ object.credential_id }}</div>
  </div>
  <div class="row">
    <div class="col-md-2"><strong>public_key</strong></div>
    <div class="col">{{ object.public_key }}</div>
  </div>
  <div class="row">
    <div class="col-md-2"><strong>sign_count</strong></div>
    <div class="col">{{ object.sign_count }}</div>
  </div>
{% endblock %}
