{{ errors }}
{% if errors and not fields %}
  <p>{% for field in hidden_fields %}{{ field }}{% endfor %}</p>
{% endif %}
{% for field, errors in fields %}
  <div class="mb-3 {{ field.css_classes }}">
    {% if field.label %}{{ field.label_tag }}{% endif %}
    {{ field }}
    {{ errors }}
    {% if field.help_text %}
      <div class="form-text">{{ field.help_text }}</div>
    {% endif %}
    {% if forloop.last %}
      {% for field in hidden_fields %}{{ field }}{% endfor %}
    {% endif %}
  </div>
{% endfor %}
{% if not fields and not errors %}
  {% for field in hidden_fields %}{{ field }}{% endfor %}
{% endif %}
